//-----------------------------------main variables------------------------------------------
//-------------------------------------------------------------------------------------------
$buildBorder: 1px solid red;
$mainFont: 'Epilogue', sans-serif;
$backgroundColor: hsl(0, 0%, 98%);
$mainH1Color: hsl(0, 0%, 8%);
$mainPColor: hsl(0, 0%, 41%);
$centerContainer: 0 auto;
$getRid: none;
$reg: 400;
$bold: 500;
$extraBold: 700;

//----------------------------------Container mixins-----------------------------------------
//-------------------------------------------------------------------------------------------
@mixin navContainer {
    width: 95%;
    margin: $centerContainer;
}

@mixin mainContainer {
    width: 80%;
    margin: $centerContainer;
}

@mixin mobileContainer {
    width: 90%;
    margin: $centerContainer;
}

@mixin mobileImageContainer {
    width: 100%;
}

//-------------------------------------layout mixins-----------------------------------------
//-------------------------------------------------------------------------------------------
//Align--------
@mixin flexAlignCenter {
    display: flex;
    align-items: center;
}

@mixin flexColAlignCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@mixin flexColAlignStart {
    display: flex;
    flex-direction: column;
    align-items: flex-start;  //may need to change
}


//justify--------
@mixin flexJustCenter {
    display: flex;
    justify-content: center;
}

@mixin flexJustEnd {
    display: flex;
    justify-content: end;
}

@mixin flexSeperate {
    display: flex;
    justify-content: space-between;
}

//------------------------------------responsive mixins-----------------------------------
//----------------------------------------------------------------------------------------
//mobile stacking--------
@mixin rowStack {
    display: flex;
    flex-direction: column;
}

@mixin reverseRowStack {
    display: flex;
    flex-direction: column-reverse;
} 

//width-sizes-devices---------
@mixin fold {
    @media (max-width: 340px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 400px) {
        @content;
    }
}

@mixin largeMobile {
    @media (max-width: 576px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: 820px){
        @content;
    }
}

@mixin large {
    @media (min-width: 1200px) {
        @content;
    }
}
