//-------------------------------------------Imports----------------------------------------------
//------------------------------------------------------------------------------------------------
@import "./mixins";
@import "./header";
@import "./content";

//----------------------------------------General fixes-------------------------------------------
//------------------------------------------------------------------------------------------------
* {
    box-sizing: border-box;
}

body {
    background-color: $backgroundColor;
    margin: 0;
    padding: 0;
}

//--------------------------------useful reused items for layout----------------------------------
//------------------------------------------------------------------------------------------------
.row {
    display: flex;

    @include largeMobile {
        @include rowStack;
    }
}

.col {
    flex: 1;
    //border: $buildBorder;
}

.col2 {
    flex: 0 0 43%;
    //border: $buildBorder;

    @include large {
        flex: 0 0 40%;
    }
}

br {
    @include largeMobile {
        display: $getRid;
    }
}